@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700;800;900&display=swap');

:root {
    --white: #fffefe;
    --hero-bg: linear-gradient(to bottom, #9d9da3, #a5a8af, #acb2ba, #b3bec6, #bac9d0);
    --off-white: rgb(232, 226, 226);
    --header-mb: 30px;
    --header-mb-mobile: 20px;
    --section-mt: 8rem;
    --section-mt-mobile: 6rem;
    --orange: #f7a17e;
    --off-white-2: #f4f4f5;
    --grey: #f3f2f3;
}

/* #bac9d0 */
/* #c5d0d9 */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
    font-family: 'Outfit', sans-serif;
    list-style: none;
}

/* navigation css */
.navigation {
    background: var(--white);
}


.navigation-logo {
    font-weight: 700;
    font-size: 30px;
}

.navigation .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    gap: 10px;
}

.navigation-item {
    list-style: none;
}

.navigation-item a:hover {
    color: black;
}

.navigation-item a::before {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 1px;
    transform: scale(0);
    background: #000;
    transition: transform 250ms ease-out
}

.navigation-item a:hover:before {
    transform: scale(1);
}

.navigation-item a {
    color: black;
    text-decoration: none;
    position: relative;
}

.navigation-icons-container {
    display: flex;
    gap: 20px;
}

.hamburger-icon-button {
    width: 35px;
    height: 35px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger-icon-button .bar {
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 20px;
    transition: all 1s ease-in-out;
}

.hamburger-icon-button:hover> .bar:nth-child(2){
    width: 50%;
}

/* hero-container css */

.hero-container {
    background: var(--hero-bg);
    height: 95vh;
}

.hero-content {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h1 {
    font-size: calc(6rem + 1vh);
    color: var(--white);
    line-height: 1;
}

.hero-content p {
    color: var(--white);
}

.hero-content button {
    outline: none;
    border: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    background: #000;
    width: fit-content;
    cursor: pointer !important;
    z-index: 1;
}

.hero-content button a {
    color: white;
    text-decoration: none;
}

.hero-image-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-image {
    height: 80vh;
    width: auto;
}


/* hero-image media query  and hero text*/
@media screen and (max-width: 1199px) {
    .hero-image {
        height: 50vh;
    }

    .hero-content h1 {
        font-size: calc(5rem + 1vh);
    }

}

@media screen and (max-width: 767px) {
    .hero-image {
        height: 35vh;
    }

    .hero-content h1 {
        font-size: calc(4rem + 1vh);
    }

}

/* top collections container css */
.top-collections-section {
    margin-top: var(--section-mt);
}

.top-collections-content>h1 {
    margin-bottom: var(--header-mb);
    overflow-y: hidden;
}

.top-collections-content>p {
    max-width: 450px;
    color: grey;
    font-weight: 300;
    overflow-y: hidden;
}

.collections-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 6rem;
}

.div1 {
    grid-area: 1 / 1 / 3 / 3;
}

.div2 {
    grid-area: 1 / 3 / 2 / 4;
}

.div3 {
    grid-area: 1 / 4 / 2 / 5;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
}

.div5 {
    grid-area: 2 / 4 / 3 / 5;
}


.collections-box {
    width: 400px;
    height: 400px;
    position: relative;
}

.collections-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collections-box:first-child {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .collections-box {
        width: 300px;
        height: 300px;
    }

}

@media screen and (max-width: 992px) {

    .collections-box:nth-child(1),
    .collections-box {
        width: 300px;
        height: 300px;
    }

    .collections-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-template-rows: none;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .div1 {
        scroll-snap-align: start;
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        scroll-snap-align: start;
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        scroll-snap-align: start;
        grid-area: 1 / 3 / 2 / 4;
    }

    .div4 {
        scroll-snap-align: start;
        grid-area: 1 / 4 / 2 / 5;
    }

    .div5 {
        scroll-snap-align: start;
        grid-area: 1 / 5 / 2 / 6;
    }

    .collections-container::-webkit-scrollbar {
        width: 0px;
    }
}

.collections-write-up {
    position: absolute;
    height: 100%;
    bottom: 0px;
    padding: 20px;
    color: var(--off-white);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.collections-write-up button {
    width: fit-content;
    outline: none;
    border: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    background: #000;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}

.collections-write-up>p {
    font-weight: 300;
    margin: 0px;
    font-size: 13px;
}

/* arrivals section css */

.arrivals-section {
    margin-top: var(--section-mt);
}

.arrivals-content h1 {
    margin-bottom: var(--header-mb);
}

.arrivals-content>p {
    color: grey;
    font-weight: 300;
}

/* hoodie-section css */

.hoodie-container {
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    margin-top: var(--section-mt);
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}

.hoodie-container::-webkit-scrollbar {
    width: 0px;
}

.hoodie-block {
    width: 300px;
    height: 400px;
    scroll-snap-align: center;
}

.hoodie-image-container {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--off-white);
}

.hoodie-image-container img {
    display: block;
    height: 100%;
}

.price-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.price-container li {
    list-style: none;
}

.price-container li:nth-child(2) {
    color: orange;
    font-weight: 400;
}

.price-container i {
    font-size: 20px;
}

.price-container i:hover {
    color: red;
}

/* .categories-section-css */

.categories-section {
    margin-top: var(--section-mt);
}

.categories-content>h1 {
    margin-bottom: var(--header-mb);
}


.categories-content>p {
    font-weight: 300;
    color: grey;
}

.categories-container {
    margin-top: var(--section-mt);
}


.categories-box {
    height: 300px;
    position: relative;
    background: var(--off-white-2);
    overflow: hidden;
}

.categories-box>img {
    height: 100%;
    width: 100%;
    transform: translateY(50px);
    object-fit: contain;
}

.categories-box:nth-child(4)>img {
    transform: translateY(57px);
}


.categories-price-tag-container {
    position: absolute;
    width: 100%;
    padding: 20px;
    height: 100%;
}

.categories-price-tag li {
    list-style: none;
}

.categories-price-tag li:nth-child(2) {
    color: orange;
}

.categories-icon-container {
    background: #000;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    border-radius: 100%;
}

.categories-icon-container i {
    color: white;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.categories-box-1 {
    scroll-snap-align: center;
    grid-area: 1 / 1 / 2 / 2;
}

.categories-box-2 {
    scroll-snap-align: center;
    grid-area: 1 / 2 / 2 / 3;
}

.categories-box-3 {
    scroll-snap-align: center;
    grid-area: 1 / 3 / 2 / 4;
}

.categories-box-4 {
    scroll-snap-align: center;
    grid-area: 2 / 1 / 3 / 2;
}

.categories-box-5 {
    scroll-snap-align: center;
    grid-area: 2 / 2 / 3 / 4;
}

@media screen and (max-width: 992px) {
    .categories-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .categories-box-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .categories-box-2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .categories-box-3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .categories-box-4 {
        grid-area: 1 / 4 / 2 / 5;
    }

    .categories-box-5 {
        grid-area: 1 / 5 / 2 / 6;
    }

    .categories-box>img {
        height: 100%;
        width: 100%;
        transform: translateY(50px);
        object-fit: cover;
    }

    .categories-box {
        width: 300px;
    }

    .categories-container {
        overflow-x: scroll;
    }

    .categories-container::-webkit-scrollbar {
        width: 0px;
    }


}

/* coming-soon css */
.coming-soon-section {
    margin-top: var(--section-mt);
}

.coming-soon-content {
    padding: 40px;
    gap: calc(20px + 1.5vh);
}

.coming-soon-write-up h1 {
    color: var(--white);
    text-transform: uppercase;
}

.coming-soon-write-up p {
    color: var(--white);
    text-transform: capitalize;
    font-weight: 300;
    text-wrap: balance;
}

.coming-soon-content img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

/* newsletter-section css */

.newsletter-section {
    background: var(--grey);
    margin-top: var(--section-mt);
}

.newsletter-content {
    padding: 25px;
    overflow-x: hidden;
}

.newsletter-write-up>p {
    font-weight: 300;
}

.newsletter-input-container {
    margin-top: var(--section-mt-mobile);
}

.newsletter-input-box {
    position: relative;
    left: 30px;
}

.newsletter-input-container>div>input:nth-child(1) {
    border: 0px;
    outline: none;
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    max-width: 600px;
}

.newsletter-input-container>div>input:nth-child(2) {
    border: 0px;
    outline: none;
    padding: 20px;
    border-radius: 30px;
    color: white;
    right: 45px;
    position: relative;

}

/* footer section css */

footer {
    margin-top: var(--section-mt);
}

.footer-content {
    padding: 30px 30px 20px 30px;
}

.footer-content>div>ul li a {
    font-weight: 200;
    text-decoration: none;
    color: var(--grey);
    font-size: 14px;
    width: fit-content;
    margin-right: 0px;
}


.footer-content>div>ul li a:hover {
    color: white;
}


.footer-content>div>ul li {
    position: relative;
    width: fit-content;
}

.footer-content>div>ul li a::before {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 1px;
    transform: scale(0);
    background: var(--white);
    transition: transform 250ms ease-out
}

.footer-content>div>ul li a:hover:before {
    transform: scale(1);
}


.footer-content>div>ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-content div:nth-child(2) {
    border-top: .4px solid grey;
    padding: 20px;
}

.footer-content div:nth-child(2) p {
    font-weight: 200;
}


/* media query css */

@media screen and (max-width: 576px) {
    .navigation-list {
        position: fixed;
        height: 100%;
        background: white;
        top: 0px;
        z-index: 5;
        flex-direction: column;
        width: 70%;
        right: -100%;
        padding: 20px;
        transition: all 250ms ease-in-out;
    }

    .navigation-list.clicked {
        right: 0px;
    }

    .navigation-list>li {
        display: block;
        border-bottom: 1px solid;
    }

    .navigation-list li a {
        font-size: 30px;
    }

    .close-button i {
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .hero-content button {
        padding: 8px 15px;
        font-size: small;
    }

    .top-collections-section,
    .arrivals-section,
    .categories-section,
    .collections-container,
    .hoodie-container,
    .categories-container,
    .newsletter-section,
    .coming-soon-section,
    footer {
        margin-top: var(--section-mt-mobile);
    }
}

@media screen and (max-width: 768px){
    .coming-soon-write-up{
        margin-bottom: 3rem;
    }
}